.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.ms-welcome__header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4; /* Cambiar color de fondo */
}

.ms-welcome__header img {
  width: 220px;
  height: 127px;
}

.ms-font-su {
  font-size: 32px;
  margin-top: 10px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: bold; /* Cambiar el peso de la fuente */
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
select,
input[type="datetime-local"],
input[type="checkbox"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox-container label {
  display: inline-block;
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}
#myDiv {
  border: 1px solid #ccc;
  padding: 5px;
  font-family: Arial, sans-serif;
  user-select: text;
  height: 10em;
  overflow-y: scroll;
}

#myDiv table {
  border-collapse: collapse;
}

#myDiv td {
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

#myDiv td.selected {
  background-color: lightblue;
}
